.container {
    margin: 20px;
}

.badge {
    margin: 0 5px;
}

.btn-primary {
    background: rgb(90, 208, 217);
    background: linear-gradient(343deg, rgba(90, 208, 217, 1) 19%, rgba(68, 162, 214, 1) 50%);
    border-style: none;
}

.btn-primary:hover {
    background: rgb(90, 206, 217);
    background: linear-gradient(343deg, rgba(90, 206, 217, 1) 19%, rgba(68, 214, 188, 1) 50%);
}

.btn-primary:active {
    background: rgb(90, 139, 217);
    background: linear-gradient(343deg, rgba(90, 139, 217, 1) 17%, rgba(68, 167, 214, 1) 50%);
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
